backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
cloudpickle==1.6.0
coloredlogs==15.0
cycler==0.10.0
decorator==5.0.9
dill==0.3.3
future==0.18.2
getch==1.0
gym==0.17.3
humanfriendly==9.1
idna==2.10
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.17.2
joblib==0.14.1
kiwisolver==1.1.0
lxml==4.6.3
matplotlib==3.0.3
minerl==0.3.6
numpy==1.18.5
opencv-python==4.4.0.42
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==2.0.10
psutil==5.8.0
ptyprocess==0.7.0
pyglet==1.5.0
Pygments==2.9.0
pyparsing==2.4.7
Pyro4==4.80
python-dateutil==2.8.1
requests==2.25.1
scikit-learn==0.22.2.post1
scipy==1.4.1
serpent==1.40
six==1.16.0
sklearn==0.0
torch==1.8.1
torchsummary==1.5.1
torchvision==0.9.1
tqdm==4.60.0
traitlets==4.3.3
typing==3.7.4.3
typing-extensions==3.10.0.0
urllib3==1.26.4
wcwidth==0.2.5
